*
!Cargo*
!migrations/
!wait-for-it.sh

!oprish/
oprish/Dockerfile
oprish/README.md

!pandemonium/
pandemonium/Dockerfile
pandemonium/README.md

!effis/
effis/Dockerfile
effis/README.md

!todel/
todel/README.md

!cli
cli/README.md
